*
    padding: 0
    margin: 0
@import '../sass/variables'


div
    font-family: $font

.hidden
    display: none
.admin
    display: flex
    flex-direction: row
    width: 100vw
    height: 100vh
    .toolBar
        display: flex
        flex-direction: row
        width: 150px
        height: 100vh
        $btnHeight: 40px
        .btns
            width: 100%
            button
                border: none
                height: $btnHeight
                font-family: $font
        .lineBtns
            width: 5px
            height: $btnHeight
            transition: 0.3s
            background-color: rgb(25 118 210 / 50%)
    .block
        width: 100%
        height: 100vh
        .usersTable
            width: 100%
            height: 100%
        .userProfile
            width: 100%
            height: 100%
            .userInfo
                width: 40%
                height: 100%
                .table
                    display: flex
                    flex-direction: column
                    width: auto
                    height: auto
                    $fontSizeTable: 17px
                    .captionTable
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 100%
                        height: 40px
                        font-size: 25px
                        font-family: $font
                        font-weight: 600
                    .tableUser
                        width: 100%
                        height: 100%
                        .tableCell
                            width: auto
                    td
                        font-size: $fontSizeTable
                        font-family: $font
                    tr
                        font-size: $fontSizeTable
                        font-family: $font
                    th
                        font-size: $fontSizeTable
                        font-family: $font
                    
        .goods
            position: absolute
            z-index: 3
                